<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://images.pexels.com/photos/2562992/pexels-photo-2562992.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="Shoes 1"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Shoes 1
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Classic Leather</p>
          </div>
          <p class="text-base text-tomato-500">$10</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://images.pexels.com/photos/6594253/pexels-photo-6594253.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="Shoes 2"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Shoes 2
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Elegant Heels
            </p>
          </div>
          <p class="text-base text-tomato-500">$20</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="Shoes 3"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Shoes 3
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Casual Sneakers
            </p>
          </div>
          <p class="text-base text-tomato-500">$30</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://images.pexels.com/photos/292999/pexels-photo-292999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="Shoes 4"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Shoes 4
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Formal Oxford
            </p>
          </div>
          <p class="text-base text-tomato-500">$40</p>
        </div>
      </figure>
    </div>
  </div>
</main>
